<div class="navbar-border">
  <div class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-button" id="home-button">
          <a class="navbar-text" id="home-text" href="#">Esther Wang</a>
        </li>
        <li class="navbar-button">
          <a class="navbar-text" href="/about/">About</a>
        </li>
        <li class="navbar-button">
          <a class="navbar-text" href="resume/resume.pdf">Resume</a>
        </li>
        <li class="navbar-button">
          <a class="navbar-text" href="/project/">Projects</a>
        </li>
      </ul>
    </div> 
  </div>
</div>
