<!DOCTYPE html>
<html>
{{ partial "header.html" .}}
<body class="theme-base-08" lang="en">
  {{ partial "navbar.html" .}}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 20%">
        <h4> Welcome </h4>
        <p> Please feel free to explore my site! This is a work in progress, so it's missing some content. I'll be making regular updates, but for now, if you have questions or would like to hear about a project in more detail, send me an email at estherw@andrew.cmu.edu. </p>
      </div>
      <div class="one-half column" style="margin-top: 15%">
      <img src="img/fractal.png" align="right">
      </div>
    </div>
  </div>
</body>
