<!DOCTYPE html>
<html>
{{ partial "header.html" .}}
<body class="theme-base-08" lang="en">
  <link rel="stylesheet" href="css/project-list.css">
  {{ partial "navbar.html" .}}
  <div class="container" style="margin-top:5%">
    <div class="row" style="margin-bottom: 2%">
      <h4 class="project-header">Some Projects</h4>
      <p>Here are summaries of some projects I've worked on. Individual pages for each project will be out next! </p>
    </div>
    <hr>
    {{ range .Data.Pages }}
      {{ .Render "list" }}
    <hr>
    {{ end }}
  </div>
</body>
